// main.sass - the stylesheet of the landing pages

@import reset
@import 'https://fonts.googleapis.com/css?family=Roboto:300,500'

// @VARIABLES

$bfont: 'Roboto', Arial, sans-serif
$hfont: 'Roboto', Arial, sans-serif

$blue: rgb(0,128,201)
$MSP: rgb(0,154,128)
$MDE: rgb(255,198,27)
$MLD: rgb(208,38,50)
$MDS: rgb(117,81,149)
$MLA: rgb(240, 125, 23)
$gray: rgb(227,231,235)

// @GLOBAL
html,
body
	font: 14px $bfont
	height: 100%
	width: 100%
	font-weight: 300

h1,
h2,
h3,
h4,
h5,
h6
	font: 160% $hfont
	line-height: 1
	text-transform: uppercase
	font-weight: 500

h2
	font-size: 240%

p.subtitle
	font-size: 180%

a
	text-decoration: none

hr.clear
	clear: both
	height: 0px
	border: none
  
.flow
	width: 100%
	max-width: 1040px
	box-sizing: border-box
	padding: 0 10px
	margin: 0 auto

// ------------------------ @HEADER //////////////////////////////////

header
	position: relative
	min-height: 600px
	box-sizing: border-box
	background: no-repeat center/cover url('img/header.jpg') 

	#cover
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(0,128,201,0.25)
		z-index: 1
	#content
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 2
		box-sizing: border-box
		padding: 25px 0

	.flow
		height: 100%
		box-sizing: border-box

	#head
		margin-bottom: 40px
		display: flex
		align-items: center
		a#logo
			color: transparent
			font-size: 0
			flex: 1 1 auto
			width: 140px
			img
				height: auto
				min-width: 30px
				max-width: 140px
		#hashtag
			height: 20px
			width: auto
			flex: 0 1 auto
			margin-left: 10px
		a
			margin-left: 10px
			flex: 0 1 auto
			img
				height: 25px
				width: auto
	h1
		text-align: right
		img
			width: 100%
			max-width: 500px
			height: auto

#tagline
	background-color: $blue
	padding: 35px 0
	box-sizing: border-box
	margin-bottom: 40px
	.flow
		display: flex
		align-items: center
		justify-content: space-between
		img
			flex: 0 1 auto
			max-height: 50px
			width: auto
		img.dash
			flex: 0 1 auto
			max-height: 15px
			width: auto

// ------------------------ @LEAFLET //////////////////////////////////

#identify
	h2,
	.subtitle
		text-align: center

	.dash
		font-weight: 500
		text-align: center
		font-size: 5em
	.blue
		color: $blue

	article
		margin: 20px 0
		h3
			display: flex
			align-items: center
			width: 80%
			margin: 10px auto
			font-weight: 300
			text-transform: unset
			span.number
				flex: 0 0 auto
				width: 40px
				height: 40px
				padding: 5px
				margin-right: 10px
				color: white
				font-size: 1.8em
				font-weight: 500
				text-align: center
				line-height: 40px
			span.number.blue
				background-color: $blue
			span.text
				flex: 1 1 auto
			span.text.blue
				color: $blue

		.content
			display: flex
			flex-flow: row wrap
			justify-content: space-around
			.col4
				flex: 1 0 auto
				width: calc(100% / 4 - 20px)
				min-width: 220px
				margin: 10px
				p.head
					text-align: center
					margin-bottom: 20px
					img
						max-height: 100px
			.col2.text
				flex: 1 1 auto
				width: calc(100% - 140px)
				min-width: 250px
				margin: 0 20px
				p
					margin-bottom: 10px
				p.important
					font-weight: 500
			.col2.img
				flex: 0 0 auto
				width: 100px
				margin-bottom: 20px
	#identify2
		.content
			width: 80%
			margin: 20px auto

.banner
	padding: 35px 0
	box-sizing: border-box
	margin-bottom: 40px
	.text
		color: white
		padding: 0 20px
		box-sizing: border-box
		p
			margin-bottom: 10px
		p.important
			font-weight: 500
			text-transform: uppercase
.banner.blue
	background-color: $blue
.banner.red
	background-color: $MLD

#oneoutof5
	.flow
		display: flex
		flex-flow: row wrap
		.img
			width: 40%
			flex: 1 1 auto
			min-width: 250px
			margin-bottom: 20px
			padding: 0 20px
			text-align: right
			box-sizing: border-box
			img
				width: 100%
				max-width: 420px
				height: auto
		.text
			width: 60% 
			flex: 1 1 auto

#important
	.flow
		.img
			img
				width: 250px
				padding-left: 20px
				margin-bottom: 10px

#react
	.flow
		max-width: 1200px
		h2
			text-align: center
		.dash
			font-weight: 500
			text-align: center
			font-size: 5em
		.red
			color: $MLD
		.row
			display: flex
			flex-flow: row wrap
			.img
				flex: 1 1 auto
				width: 400px
				img
					width: 100%
					height: auto
			article.text
				flex: 1 1 auto
				width: 400px
				margin: 20px 0
				h3
					display: flex
					align-items: center
					width: calc(100% - 60px)
					margin: 10px auto
					font-weight: 300
					text-transform: unset
					span.number
						flex: 0 0 auto
						width: 40px
						height: 40px
						padding: 5px
						margin-right: 10px
						color: white
						font-size: 1.8em
						font-weight: 500
						text-align: center
						line-height: 40px
					span.number.red
						background-color: $MLD
					span.text
						flex: 1 1 auto
					span.text.red
						color: $MLD
				ul
					width: calc(100% - 60px)
					margin: 10px auto
					list-style: disc inside
					li
						margin-bottom: 10px
						padding-left: 65px
		@media screen and (min-width: 800px)
			.row.reverse
				.img
					order: 2
				article.text
					order: 1

#help
	h2,
	.subtitle
		text-align: center

	.dash
		font-weight: 500
		text-align: center
		font-size: 5em
	.blue
		color: $blue
	
	ul
		display: flex
		flex-flow: row wrap
		justify-content: space-around
		margin-bottom: 40px

		li
			flex: 1 1 auto
			width: 300px
			text-align: center
			margin: 20px 0
			img
				display: block
				width: 25px
				height: auto
				margin: 10px auto

#victim
	.flow
		margin-bottom: 40px
		h2,
		.subtitle
			text-align: center

		.dash
			font-weight: 500
			text-align: center
			font-size: 5em
		.red
			color: $MLD

		ul
			display: flex
			flex-flow: row wrap
			justify-content: space-around
			margin-bottom: 20px

			li
				flex: 1 1 auto
				width: 220px
				text-align: center
				margin: 20px 0
				img
					display: block
					height: 80px
					width: auto
					margin: 10px auto

// ------------------------ @STORIES //////////////////////////////////

#testimony
	.flow
		h2
			text-align: center
			margin-top: 100px
			img
				max-width: 800px
				width: calc(100% - 40px)
				height: auto
		@media screen and (min-width: 800px)
			h2
				margin-top: 160px
		.subtitle
			text-align: center
			margin-bottom: 20px

		.dash
			font-weight: 500
			text-align: center
			font-size: 5em
		.blue
			color: $blue

		.row
			display: flex
			flex-flow: row wrap
			.img
				flex: 1 1 auto
				width: 400px
				img
					width: 100%
					height: auto
			article.text
				flex: 1 1 auto
				width: 400px
				margin: 20px 0
				h3
					width: calc(100% - 60px)
					margin: 10px auto
				.dash
					font-weight: 500
					width: calc(100% - 60px)
					text-align: left
					font-size: 2em
					margin: auto
				p
					width: calc(100% - 60px)
					margin: 10px auto
					list-style: disc inside

		@media screen and (min-width: 800px)
			.row.reverse
				.img
					order: 2
				article.text
					order: 1

// ------------------------ @JURY //////////////////////////////////

#jury
	.flow
		color: white
		h2,
		.subtitle,
		.dash
			text-align: center
		.dash.white
			color: white
			font-weight: 500
			font-size: 5em

		.content
			margin: 40px 0
			display: flex
			flex-flow: row wrap
			.col3
				flex: 1 0 auto
				width: calc(100% / 3 - 20px)
				min-width: 220px
				margin: 10px
				.dash
					text-align: left
					font-size: 1.8em
				p.head
					text-align: center
					margin-bottom: 20px
					img
						width: 100%
				p.important
					text-transform: uppercase
					font-weight: 500

// ------------------------ @videos //////////////////////////////////

#videos
	.flow
		h2,
		.dash
			text-align: center

		.dash
			font-weight: 500
			font-size: 5em
		.dash.blue
			color: $blue

		.content
			margin: 40px 0
			display: flex
			flex-flow: row wrap
			.col3
				flex: 1 0 auto
				width: calc(100% / 3 - 20px)
				min-width: 220px
				margin: 10px
				.dash
					text-align: left
					font-size: 1.8em
				p.head
					text-align: center
					margin-bottom: 20px
					iframe
						width: 100%
				p.important
					text-transform: uppercase
					font-weight: 500

// ------------------------ @videos //////////////////////////////////

#opinion.banner
	.flow
		.content
			display: flex
			flex-flow: row wrap
			justify-content: space-around
			.col2.text
				flex: 1 1 auto
				width: calc(100% - 140px)
				min-width: 250px
				margin: 0 20px
				color: #000000
				p
					margin-bottom: 10px
					a
						text-transform: uppercase
						border-bottom: $blue solid 2px
				p.important
					font-weight: 500
			.col2.img
				flex: 0 0 auto
				width: 100px
				margin-bottom: 20px


// ------------------------ @CTA //////////////////////////////////

#CTA-container
	background-color: $blue
	padding: 35px 0
	box-sizing: border-box

	h3
		text-align: center
		width: 100%
		font-size: 3.6em
		margin-bottom: 35px

		span
			padding: 10px 20px
			background-color: transparent
			color: white
			font-weight: bold
			line-height: 1.7

	article
		display: inline-block
		min-width: calc(100% / 4 - 4px)
		max-width: calc(100% - 1px)
		width: calc((620px - 100%) * 620)
		vertical-align: top
		text-align: center
		margin-bottom: 50px
		
		.icone
			display: block
			margin-bottom: 10px
			
			img
				width: 40%
				height: auto
		
		.method
			color: white
			font-size: 1.4em
			font-weight: 600
			margin-bottom: 10px

		.action
			color: white
			font-size: 1.4em
			font-weight: 300

			a
				background-color: white
				color: $blue
				padding: 0 15px
				border-radius: 3px
				font: 22px $hfont
				text-transform: uppercase

	#CTA
		color: white

// ------------------------ @FOOTER //////////////////////////////////

footer
	background-color: $gray
	margin-top: 20px
	padding: 40px 0
	font-size: 120%

	nav
		margin: 40px 0

		ul
			margin: 0 auto

			li
				padding: 5px 10px
				position: relative
				display: inline-block
				border-right: 1px solid black
				border-collapse: collapse

				img
					display: none

				a
					color: black
					text-decoration: none

			li:last-of-type
				border-right: none

			#twit,
			#fab
				img
					width: 30px
					display: inline-block
					margin-right: 5px
					vertical-align: middle