@import 'https://fonts.googleapis.com/css?family=Roboto:300,500';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font: 10px "Roboto", Arial, sans-serif;
  height: 100%;
  width: 100%;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 160% "Roboto", Arial, sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.flow {
  width: 100%;
  max-width: 1040px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  position: relative;
  min-height: 600px;
  box-sizing: border-box;
  background: no-repeat center/cover url("img/header.jpg");
}

header #cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 201, 0.25);
  z-index: 1;
}

header #content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  padding: 25px 0;
}

header .flow {
  height: 100%;
  box-sizing: border-box;
}

header #head {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

header #head a#logo {
  color: transparent;
  font-size: 0;
  flex: 1 1 auto;
  width: 140px;
}

header #head a#logo img {
  height: auto;
  min-width: 30px;
  max-width: 140px;
}

header #head #hashtag {
  height: 20px;
  width: auto;
  flex: 0 1 auto;
  margin-left: 10px;
}

header #head a {
  margin-left: 10px;
  flex: 0 1 auto;
}

header #head a img {
  height: 25px;
  width: auto;
}

header h1 {
  text-align: right;
}

header h1 img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

#tagline {
  background-color: #0080c9;
  padding: 35px 0;
  box-sizing: border-box;
  margin-bottom: 40px;
}

#tagline .flow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tagline .flow img {
  flex: 0 1 auto;
  max-height: 50px;
  width: auto;
}

#tagline .flow img.dash {
  flex: 0 1 auto;
  max-height: 15px;
  width: auto;
}

#identify h2,
#identify .subtitle {
  text-align: center;
}

#identify .dash {
  text-align: center;
  font-size: 5em;
}

#identify .blue {
  color: #0080c9;
}

#identify article {
  margin: 20px 0;
}

#identify article h3 {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  font-weight: 300;
  text-transform: unset;
}

#identify article h3 span.number {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-right: 10px;
  color: white;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
}

#identify article h3 span.number.blue {
  background-color: #0080c9;
}

#identify article h3 span.text {
  flex: 1 1 auto;
}

#identify article h3 span.text.blue {
  color: #0080c9;
}

#identify article .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#identify article .content .col4 {
  flex: 1 0 auto;
  width: calc(100% / 4);
  min-width: 220px;
  margin: 10px;
}

#identify article .content .col4 p.head {
  text-align: center;
  margin-bottom: 20px;
}

#identify article .content .col4 p.head img {
  max-height: 100px;
}

#identify article .content .col2.text {
  flex: 1 1 auto;
  width: calc(100% - 140px);
  min-width: 250px;
  margin: 0 20px;
}

#identify article .content .col2.text p {
  margin-bottom: 10px;
}

#identify article .content .col2.text p.important {
  font-weight: 500;
}

#identify article .content .col2.img {
  flex: 0 0 auto;
  width: 100px;
  margin-bottom: 20px;
}

#identify #identify2 .content {
  width: 80%;
  margin: 20px auto;
}

.banner {
  padding: 35px 0;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.banner .text {
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
}

.banner .text p {
  margin-bottom: 10px;
}

.banner .text p.important {
  font-weight: 500;
  text-transform: uppercase;
}

.banner.blue {
  background-color: #0080c9;
}

.banner.red {
  background-color: #d02632;
}

#oneoutof5 .flow {
  display: flex;
  flex-flow: row wrap;
}

#oneoutof5 .flow .img {
  width: 40%;
  flex: 1 1 auto;
  min-width: 250px;
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: right;
  box-sizing: border-box;
}

#oneoutof5 .flow .img img {
  width: 100%;
  max-width: 420px;
  height: auto;
}

#oneoutof5 .flow .text {
  width: 60%;
  flex: 1 1 auto;
}

#important .flow .img img {
  width: 250px;
  padding-left: 20px;
  margin-bottom: 10px;
}

#react .flow h2 {
  text-align: center;
}

#react .flow .dash {
  text-align: center;
  font-size: 5em;
}

#react .flow .red {
  color: #d02632;
}

#react .flow .row {
  display: flex;
  flex-flow: row wrap;
}

#react .flow .row .img {
  flex: 1 1 auto;
  width: 400px;
}

#react .flow .row .img img {
  width: 100%;
  height: auto;
}

#react .flow .row article.text {
  flex: 1 1 auto;
  width: 400px;
  margin: 20px 0;
}

#react .flow .row article.text h3 {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  font-weight: 300;
  text-transform: unset;
}

#react .flow .row article.text h3 span.number {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-right: 10px;
  color: white;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
}

#react .flow .row article.text h3 span.number.red {
  background-color: #d02632;
}

#react .flow .row article.text h3 span.text {
  flex: 1 1 auto;
}

#react .flow .row article.text h3 span.text.red {
  color: #d02632;
}

#react .flow .row article.text p {
  width: 80%;
  margin: 10px auto;
}

@media screen and (min-width: 800px) {
  #react .flow .row.reverse .img {
    order: 2;
  }
  #react .flow .row.reverse article.text {
    order: 1;
  }
}

#CTA-container {
  background-color: #0080c9;
  padding: 35px 0;
  box-sizing: border-box;
}

#CTA-container h3 {
  text-align: center;
  width: 100%;
  font-size: 3.6em;
  margin-bottom: 35px;
}

#CTA-container h3 span {
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  line-height: 1.7;
}

#CTA-container article {
  display: inline-block;
  min-width: calc(100% / 4 - 4px);
  max-width: calc(100% - 1px);
  width: calc((620px - 100%) * 620);
  vertical-align: top;
  text-align: center;
  margin-bottom: 50px;
}

#CTA-container article .icone {
  display: block;
  margin-bottom: 10px;
}

#CTA-container article .icone img {
  width: 40%;
  height: auto;
}

#CTA-container article .method {
  color: white;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 10px;
}

#CTA-container article .action {
  color: white;
  font-size: 1.4em;
  font-weight: 300;
}

#CTA-container article .action a {
  background-color: white;
  color: #0080c9;
  padding: 0 15px;
  border-radius: 3px;
  font: 22px "Roboto", Arial, sans-serif;
  text-transform: uppercase;
}

#CTA-container #CTA {
  color: white;
}

footer {
  background-color: #e3e7eb;
  margin-top: 20px;
  padding-top: 40px;
  font-size: 1.4em;
}

footer nav {
  margin: 40px 0;
}

footer nav ul {
  margin: 0 auto;
}

footer nav ul li {
  padding: 5px 10px;
  position: relative;
  display: inline-block;
  border-right: 1px solid black;
  border-collapse: collapse;
}

footer nav ul li img {
  display: none;
}

footer nav ul li a {
  color: black;
  text-decoration: none;
}

footer nav ul li:last-of-type {
  border-right: none;
}

footer nav ul #twit img,
footer nav ul #fab img {
  width: 30px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
