doctype html
html
  head
    meta(charset="utf-8")
    meta(name="robots", content="noindex")

    title Victime de harcèlement sexuel au travail ? | Défenseur des droits

    include inc/opengraph.pug

    link(rel="stylesheet", href="main.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.1/cookieconsent.min.css")

  body
    include inc/header.pug

    include inc/leaflet.pug

    include inc/testimonies.pug

    include inc/jury.pug

    include inc/videos.pug

    include inc/opinion.pug

    // include inc/saisir.pug

    include inc/footer.pug

    script(src="main.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.1/cookieconsent.min.js")
    script.
      window.cookieconsent.initialise({"palette":{"popup":{"background":"#ffffff","text":"#000000"},"button":{"background":"#0080c9","text":"#ffffff"}},"theme":"edgeless","position":"top","static":true,"content":{"message":"Ce site utilise des cookies à des fins statistiques.","dismiss":"OK","link":"En savoir plus","href":"https://www.defenseurdesdroits.fr/mentions-l%C3%A9gales"}});