html
  head
    meta(charset="utf-8")
    meta(name="robots", content="noindex")

    title Une femme sur cinq | Défenseur des droits

    meta(property="og:url", content="https://information.defenseurdesdroits/unefemmesurcinq")
    meta(property="og:type", content="website")
    meta(property="og:locale", content="fr_FR")
    meta(property="og:title", content="Une femme sur cinq | Défenseur des droits")
    meta(property="og:description", content="Prévenir - Alerter - Réagir")
    meta(property="og:image", content="https://information.defenseurdesdroits/unefemmesurcinq/img/social.jpg")
    meta(property="twitter:card", content="summary_large_image")
    meta(property="twitter:site", content="Defenseurdroits")

    link(rel="stylesheet", href="main.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.1/cookieconsent.min.css")

  body
    header
      h1
        a(href="https://www.defenseurdesdroits.fr/", title="Se rendre sur le site du Défenseur des droits")
          img(src="img/logo.svg" alt="Logo ")
          | Défenseur des droits

    script(src="main.js")