section#more
  .flow
    h2 Pour aller plus loin
    .dash.blue —
section#attachments.banner
  .flow
    .content
      .col2.img
        img(src="img/logo_blue.svg")
      .col2.text
        p.important Avis 18-03 du 25 janvier 2018 relatif au harcèlement sexuel
        p Auditionné le 25 janvier 2018 par la Délégation aux droits des femmes et à l'égalité des chances entre les hommes et les femmes du Sénat sur le harcèlement sexuel, le Défenseur des droits émet l'avis ci-joint.
        p
          a(href="https://juridique.defenseurdesdroits.fr/index.php?lvl=notice_display&id=23942", target="_blank") Lire l'avis
    .content
      .col2.img
        img(src="img/depliant.png")
      .col2.text
        p.important Dépliant "Vous êtes victime de harcèlement sexuel au travail ? - Faites respecter vos droits"
        p
          a(href="https://www.defenseurdesdroits.fr/sites/default/files/atoms/files/depliant-harcsexuel-18.01.18-num.pdf", target="_blank") Accéder au document
    .content
      .col2.img
        img(src="img/affiche.png")
      .col2.text
        p.important Affiche "Vous êtes victime de harcèlement sexuel au travail ? - Faites respecter vos droits"
        p
          a(href="https://www.defenseurdesdroits.fr/sites/default/files/atoms/files/aff-harcsexuel-num-18.01.18.pdf", target="_blank") Accéder au document
    .content
      .col2.img
        img(src="img/logo_blue.svg")
      .col2.text
        p.important Communiqué de presse
        p
          a(href="https://www.defenseurdesdroits.fr/sites/default/files/atoms/files/cp_defenseur_des_droits_harcelement_sexuel_au_travail.pdf", target="_blank") Accéder au document
    .content
      .col2.img
        img(src="img/zip.svg")
      .col2.text
        p.important Kit media
        p Retrouvez les visuels de la campagne pour Facebook, LinkedIn et Twitter
        p
          a(href="/kit-media.zip", target="_blank", download) Téléchargez le kit