section#attachments.banner
  .flow
    .content
      .col2.img
        img(src="img/document.svg")
      .col2.text
        p.important Dépliant "Vous êtes victime de harcèlement sexuel au travail ? - Faites respecter vos droits"
        p
          a(href="https://www.defenseurdesdroits.fr/sites/default/files/atoms/files/depliant-harcsexuel-18.01.18-num.pdf", target="_blank") Accéder au document
    .content
      .col2.img
        img(src="img/document.svg")
      .col2.text
        p.important Communiqué de presse
        p
          a(href="https://www.defenseurdesdroits.fr/sites/default/files/atoms/files/cp_defenseur_des_droits_harcelement_sexuel_au_travail.pdf", target="_blank") Accéder au document