section#CTA-container
  .flow
    h2 Contactez nous
    .dash —
    #CTA
      article#saisine
        a#saisir-img.icone.saisir(href="https://formulaire.defenseurdesdroits.fr/", target="_blank")
          img(src="img/formulaire.svg", alt="Icone formulaire")
        p.method Par fomulaire en ligne
        p.action
          a#saisir.saisir(href="https://formulaire.defenseurdesdroits.fr/", target="_blank") Saisir

      article#deleg
        a#deleg-img.icone.godeleg(href="https://www.defenseurdesdroits.fr/saisir/delegues", target="_blank")
          img(src="img/deleg.svg", alt="Icone délégués")
        p.method En rencontrant un délégué
        p.action
          a#godeleg.godeleg(href="https://www.defenseurdesdroits.fr/saisir/delegues", target="_blank") Contacter

      article#tel
        a#tel-img.icone.tel(href="tel:0969390000", target="_blank")
          img(src="img/telephone.svg", alt="Icone téléphone")
        p.method Par téléphone
        p.action
          a#tel.tel(href="tel:0969390000", target="_blank") 09 69 39 00 00
      
      article#courrier
        .icone
          img(src="img/courrier.svg", alt="Icone enveloppe")
        p.method 
          | Par courrier gratuit,
          br
          | sans affranchissememt
        p.action
          | Défenseur des droits
          br
          | Libre réponse 71120
          br
          | 75342 Paris CEDEX 07

section#contacts
  .flow
    h2 Autres contacts
    .dash —
    article
      a.icone(href="http://stop-harcelement-sexuel.gouv.fr/", target="_blank")
        img.site(src="img/formulaire.svg")
      p.method stop-harcelement-sexuel.gouv.fr
      p.action
        a(href="http://stop-harcelement-sexuel.gouv.fr/", target="_blank") Voir le site
    article
      a.icone(href="tel:3919", target="_blank")
        img.site(src="img/telephone.svg")
      p.method Violences Femmes Info
      p.action
        a(href="tel:3919", target="_blank") 3919
    article
      a.icone(href="tel:0884284637", target="_blank")
        img.site(src="img/telephone.svg")
      p.method Aide aux victimes du Ministère de la Justice
      p.action
        a(href="tel:0884284637", target="_blank") 08 842 846 37
