section#identify
  .flow
    h2 Cillum ullamco exercitation cupidatat aliqua elit officia.
    .dash.blue _
    p.subtitle Dolor cupidatat dolor enim in esse ea occaecat culpa excepteur enim reprehenderit eu laboris.
    article#identify1
      h3
        span.number.blue 1
        span.text.blue Labore veniam non adipisicing laboris.
      .content
        .col4
          p.head
            img(src="img/boum.svg")
          p Quis consequat consequat et fugiat dolore velit quis aliqua eu officia mollit exercitation. Pariatur pariatur irure do cillum adipisicing aute laboris velit nulla dolor. Officia Lorem dolore aute elit et aliquip eu mollit aliquip. Est laborum velit exercitation id cillum nostrud labore cillum do ipsum ea. Duis nulla ad dolore non aliqua minim. Reprehenderit ipsum labore excepteur id elit velit do consectetur ipsum dolor laboris sint Lorem eiusmod. Sit ea fugiat exercitation in.
        .col4
          p.head
            img(src="img/hand.svg")
          p Commodo labore anim minim enim nisi eu velit magna deserunt fugiat exercitation incididunt. Nulla incididunt ex cupidatat mollit veniam cupidatat incididunt commodo aliquip est. Velit fugiat anim elit reprehenderit. Dolor Lorem duis laboris voluptate ad veniam excepteur adipisicing. Aliqua nostrud ex et sunt deserunt. Adipisicing sit veniam eu eu laboris mollit sit reprehenderit magna laboris.
        .col4
          p.head
            img(src="img/phone.svg")
          p Non do sunt in esse labore eiusmod sit labore culpa dolor. Duis ipsum aliqua ea fugiat ullamco proident quis nostrud sunt dolor dolor cillum voluptate. Eu esse do enim proident anim voluptate consectetur consequat nulla exercitation.
        .col4
          p.head
            img(src="img/frame.svg")
          p Cupidatat voluptate est mollit magna voluptate cillum dolor eiusmod proident amet. Irure duis ut do culpa nostrud ex quis cupidatat esse ipsum aliquip dolor ut. Voluptate Lorem consectetur laborum ullamco consectetur qui cupidatat ut dolor eu officia.
    article#identify2
      h3
        span.number.blue 2 
        span.text.blue Voluptate laboris qui esse sit labore esse magna culpa velit pariatur qui cupidatat.
      .content
        .col2.img
          img(src="img/cycle.svg")
        .col2.text
          p Cupidatat esse exercitation amet Lorem aliqua aute culpa mollit laboris. Cillum amet esse mollit nisi et occaecat est adipisicing proident fugiat adipisicing velit elit esse. Magna culpa tempor ullamco sint deserunt quis dolore ad. Nulla tempor nulla ullamco sunt excepteur ad qui deserunt velit.
          p.important Eiusmod reprehenderit sit eu enim deserunt ullamco. Sint ullamco veniam aute Lorem eu ea ipsum in non. Et cillum eu non veniam esse in et sunt eu magna. Exercitation pariatur aliqua dolor culpa.

section#oneoutof5.banner.blue
  .flow
    .img
      img(src="img/respect.png", alt="1 femme sur 5, faites respecter vos droits")
    .text
      p.important Sint amet deserunt Lorem minim. Aliquip dolore ea sint aliqua. Voluptate esse labore nulla consectetur esse excepteur. Do pariatur ad excepteur nostrud enim aliquip nulla excepteur ut Lorem velit eu dolore commodo.
      p Ad tempor tempor quis laboris fugiat adipisicing ullamco tempor occaecat incididunt quis elit. Ea nisi exercitation do laboris et in proident velit Lorem. Consequat amet cupidatat esse nostrud ad deserunt veniam sunt reprehenderit. Cupidatat cillum minim nostrud adipisicing eiusmod aliqua consectetur anim nisi. Laborum velit quis duis minim nulla. Cillum labore eiusmod voluptate non culpa voluptate ex laboris laboris quis cupidatat elit. Fugiat quis dolor et consequat mollit quis consectetur minim voluptate ea duis dolore.

section#react
  .flow
    h2 Non amet non cillum et officia.
    .dash.red _
    .row
      .img
        img(src="http://lorempicsum.com/futurama/600/300/1")
      article.text
        h3
          span.number.red 1
          span.text.red Id qui ut aute cillum reprehenderit.
        p Mollit excepteur quis magna officia fugiat ut do laboris sunt aute. Dolor ipsum laboris ea sint exercitation voluptate. Eu quis fugiat deserunt Lorem ea non deserunt aliquip laboris quis cupidatat aliquip. Irure ullamco laborum pariatur dolor ad ad aliqua Lorem culpa. Laborum qui ipsum aliquip cupidatat ipsum amet commodo ullamco. Laborum fugiat id deserunt et minim magna sunt non nostrud Lorem anim reprehenderit officia deserunt. Sint reprehenderit sit do esse enim aute ipsum cillum deserunt nulla excepteur.
        p Est incididunt duis consequat amet ad Lorem nostrud ipsum nulla. Dolore dolore labore in cillum et nulla cupidatat. Irure sunt adipisicing dolore proident minim est officia est tempor ipsum culpa excepteur.
    .row.reverse
      .img
        img(src="http://lorempicsum.com/futurama/600/300/2")
      article.text
        h3
          span.number.red 2
          span.text.red Anim velit eu ipsum anim veniam ullamco.
        p Enim sit aute consectetur esse eu irure aliquip aute. Cupidatat velit duis deserunt mollit cillum nulla et cupidatat quis nisi. Enim id cillum exercitation exercitation non ipsum ipsum eiusmod dolor consequat anim. Nisi consequat minim sunt pariatur minim.
        p Dolor elit reprehenderit sint et magna occaecat deserunt velit incididunt. Ipsum labore ullamco labore magna ut aute dolore non. Culpa nulla culpa Lorem tempor qui officia proident. Tempor anim nostrud ea nostrud in aliquip.
    .row
      .img
        img(src="http://lorempicsum.com/futurama/600/300/3")
      article.text
        h3
          span.number.red 3
          span.text.red Anim ex non incididunt veniam adipisicing cillum mollit ipsum tempor.
        p Excepteur deserunt magna duis aliquip elit irure quis cillum dolor minim nulla. Sit dolor reprehenderit officia aute duis qui tempor laboris. Anim anim occaecat fugiat nostrud sint ex ad.
        p Labore ut laborum exercitation eiusmod proident exercitation eu nostrud est. Eu ullamco culpa aliqua aliquip tempor aliqua cillum eu cupidatat et pariatur cillum fugiat. Quis ex aliqua reprehenderit ex consectetur sint sunt non. Anim labore consectetur amet nulla qui. Enim irure ipsum et commodo. Reprehenderit ea excepteur adipisicing duis est eu minim exercitation sunt.

section#important.banner.red
  .flow
    .img
      img(src="img/important.png", alt="important")
    .text
      p.important Sint amet deserunt Lorem minim. Aliquip dolore ea sint aliqua. Voluptate esse labore nulla consectetur esse excepteur. Do pariatur ad excepteur nostrud enim aliquip nulla excepteur ut Lorem velit eu dolore commodo.
      p Ad tempor tempor quis laboris fugiat adipisicing ullamco tempor occaecat incididunt quis elit. Ea nisi exercitation do laboris et in proident velit Lorem. Consequat amet cupidatat esse nostrud ad deserunt veniam sunt reprehenderit. Cupidatat cillum minim nostrud adipisicing eiusmod aliqua consectetur anim nisi. Laborum velit quis duis minim nulla. Cillum labore eiusmod voluptate non culpa voluptate ex laboris laboris quis cupidatat elit. Fugiat quis dolor et consequat mollit quis consectetur minim voluptate ea duis dolore.