footer
  .flow
    nav
      ul
        li#twit
          a(href="https://twitter.com/Defenseurdroits", target="_blank", title="Se rendre sur la page Twitter du Défenseur des droits")
            img(src="img/twit.png")
            | @Defenseurdroits
        li#fab
          a(href="https://facebook.com/DefenseurdesDroits", target="_blank", title="Se rendre sur la page Facebook du Défenseur des droits")
            img(src="img/fab.png")
            | facebook.com/defenseurdesdroits
        li
          a(href="https://www.defenseurdesdroits.fr", target="_blank", title="Se rendre sur le site du Défenseur des droits") defenseurdesdroits.fr
        li#presscontain
          a(href="https://www.defenseurdesdroits.fr/presse/", target="_blank") Presse
        li#legalcontain
          a(href="https://www.defenseurdesdroits.fr/mentions-légales", target="_blank") Mentions légales