footer
  .flow
    nav
      ul
        li#DDD
          a(href="https://www.defenseurdesdroits.fr", target="_blank", title="Se rendre sur le site du Défenseur des droits") 
            img(src="img/logo.svg")
            | defenseurdesdroits.fr
        li#twit
          a(href="https://twitter.com/Defenseurdroits", target="_blank", title="Se rendre sur la page Twitter du Défenseur des droits")
            img(src="img/twit.svg")
            | @Defenseurdroits
        li#fab
          a(href="https://facebook.com/DefenseurdesDroits", target="_blank", title="Se rendre sur la page Facebook du Défenseur des droits")
            img(src="img/fab.svg")
            | facebook.com/defenseurdesdroits
        li#lkd
          a(href="https://www.linkedin.com/company/le-d%C3%A9fenseur-des-droits/", target="_blank", title="Se rendre sur la page LinkedIn du Défenseur des droits")
            img(src="img/lkd.svg")
            | linkedin.com
        li#presscontain
          a(href="https://www.defenseurdesdroits.fr/presse/", target="_blank") Presse
        li#legalcontain
          a(href="https://www.defenseurdesdroits.fr/mentions-légales", target="_blank") Mentions légales