header
  #cover
  #content
    .flow
      #topbar.top
        #toplogo
          img(src="img/logo.svg")
        img#tophashtag(src="img/hashtag.png", alt="#UneFemmeSurCinq")
      button.burger(title="Ouvrir le menu")
        include ../../img/burger.svg
      #head
        a#logo(href="https://www.defenseurdesdroits.fr/", title="Se rendre sur le site du Défenseur des droits")
          img(src="img/logo.svg" alt="Logo ")
          | Défenseur des droits
        img#hashtag(src="img/hashtag.png", alt="#UneFemmeSurCinq")
        a(href="https://twitter.com/intent/tweet?hashtags=UneFemmeSurCinq&url=https%3A%2F%2Finformation.defenseurdesdroits.fr%2Funefemmesurcinq%2F&via=Defenseurdroits&related=Defenseurdroits%3AD%C3%A9fenseur%20des%20droits", target="_blank")
          img(src="img/twit.svg", alt="Partager sur Twitter")
        a(href="https://www.facebook.com/sharer.php?u=https://information.defenseurdesdroits.fr/unefemmesurcinq/", target="_blank")
          img(src="img/fab.svg", alt="Partager sur Facebook")

      h1
        img(src="img/title1.png", alt="Victime de harcèlement sexuel au travail ?")
#tagline
  .flow
    img(src="img/prevenir.png", alt="Prévenir")
    img.dash(src="img/dash.png", alt=" - ")
    img(src="img/alerter.png", alt="Alerter")
    img.dash(src="img/dash.png", alt=" - ")
    img(src="img/reagir.png", alt="Réagir")
section#oneoutof5.banner
  .flow
    p.important La loi protège toutes les personnes qui ont signalé des faits de harcèlement, victimes comme témoins.
    p Tout refus de promotion, mise au placard, licenciement pris par votre employeur à la suite d'un signalement, d'une plainte ou d'une action en justice constitue une discrimination.