header
  #cover
  #content
    .flow
      #head
        a#logo(href="https://www.defenseurdesdroits.fr/", title="Se rendre sur le site du Défenseur des droits")
          img(src="img/logo.svg" alt="Logo ")
          | Défenseur des droits
        img#hashtag(src="img/hashtag.png", alt="#UneFemmeSurCinq")
        a(href="", target="_blank")
          img(src="img/twit.svg", alt="Partager sur Twitter")
        a(href="", target="_blank")
          img(src="img/fab.svg", alt="Partager sur Facebook")

      h1
        img(src="img/title1.png", alt="Victime de harcèlement sexuel au travail ?")
#tagline
  .flow
    img(src="img/prevenir.png", alt="Prévenir")
    img.dash(src="img/dash.png", alt=" - ")
    img(src="img/alerter.png", alt="Alerter")
    img.dash(src="img/dash.png", alt=" - ")
    img(src="img/reagir.png", alt="Réagir")