section#testimony
  .flow
    h2
      img(src="img/histoiresvecues.png", alt="Histoires vécues")
    .dash.blue —
    p.subtitle Qui non ullamco voluptate laboris nulla.
    .row
      .img
        img(src="http://lorempicsum.com/futurama/600/300/4")
      article.text
        h3 Adipisicing officia consequat occaecat in in qui eiusmod ipsum ad ex esse veniam quis.
        .dash.blue —
        p Eu id cupidatat aliquip ipsum nostrud nisi reprehenderit sit nostrud sint et occaecat. Velit reprehenderit excepteur sint adipisicing enim et quis. Reprehenderit dolor dolor mollit consequat laboris culpa nisi officia Lorem amet ipsum aliquip irure aute. Cupidatat esse commodo irure pariatur.
    .row.reverse
      .img
        img(src="http://lorempicsum.com/futurama/600/300/5")
      article.text
        h3 Voluptate est cupidatat ad sunt pariatur culpa fugiat velit enim officia laboris esse.
        .dash.blue —
        p Enim ut tempor laborum in consectetur officia minim. Commodo Lorem Lorem esse nostrud duis. Anim consequat sit ea id. Ad laborum officia dolor ad laboris magna Lorem exercitation laborum velit. Elit aliquip anim enim ex laboris cillum adipisicing culpa tempor laboris non. Ipsum officia in laborum duis non ad culpa ex voluptate sint Lorem.
    .row
      .img
        img(src="http://lorempicsum.com/futurama/600/300/6")
      article.text
        h3 Aliquip irure quis elit non aute reprehenderit reprehenderit reprehenderit aliqua tempor occaecat enim.
        .dash.blue —
        p In id ut sit tempor excepteur dolore dolor quis nulla magna dolor anim. Excepteur mollit veniam mollit Lorem deserunt ea non nulla magna est irure velit consectetur. Duis cupidatat veniam ut occaecat commodo aute tempor culpa voluptate velit.