section#intro
  .flow
    p Alors qu'une femme sur cinq a fait l'objet de harcèlement sexuel au travail au cours de sa carrière, la plupart des victimes continuent de taire cette réalité. C'est au titre de sa mission de lutte contre les discriminations et promotion de l'égalité que le Défenseur des droits organise, ce mardi 6 février, une matinée consacrée à cette problématique afin de mieux appréhender le sujet et les recours possibles.