section#jury.banner
  .flow
    // h2 Membres du jury
    .dash —

    .content.row
      article
        p.head
          img(src="img/andrearawlins.jpg")
        .text
          p.important Andrea Rawlins-Gaston
          p Réalisatrice de documentaires / Agence CAPA
          .dash —
          p Parce que le Défenseur des Droits a été parmi les premiers à révéler l'ampleur du fléau du harcèlement sexuel au travail par les chiffres glaçants et bien réels de son enquête IFOP dès 2015.
          p Parce que la libération de la parole est fondamentale, mais elle ne sert à rien si personne n'est là pour la recueillir et si elle n'est pas soutenue par des actions concrètes. Parmi elles, la possibilité d'accompagner les femmes dans leurs démarches judiciaires. Le Défenseur des Droit est là. Il faut que cela se sache.
      article.row.reverse
        p.head
          img(src="img/constancebenque.jpg")
        .text
          p.important Constance Benque
          p Présidente-directrice générale de Elle France et international
          .dash —
          p Depuis sa création, le magazine ELLE s'engage pour améliorer la vie des femmes en défendant leurs droits et en luttant contre les violences qu'elles sont encore trop nombreuses à subir, souvent en silence.
          p ELLE accompagne les femmes chaque semaine, et a récemment réaffirmé son engagement avec son édito sur Marie Trintignant, son soutien à Flavie Flament ou encore son numéro exceptionnel sur les violences conjugales.  Au-delà de son soutien éditorial, ELLE s'engage au travers des actions de la Fondation ELLE qui, depuis plus de 10 ans soutient de nombreux projets pour l'éducation des femmes dans le monde, et la lutte contre les violences. Les forums ELLE Active, accompagnent, eux, partout en France depuis plus de 6 ans les femmes dans leur vie professionnelle pour les aider à lever les obstacles. Le magazine s'est également associé à Make.org dans le cadre d'une grande consultation sur les violences faites aux femmes afin de peser sur les pouvoirs publics et proposer aux côtés d'associations des solutions concrètes pour en finir enfin avec ce fléau.
          p Parce qu'il faut agir, vite, pour aider toutes les victimes et éliminer ces violences, quelles qu'elles soient, au travail ou ailleurs, le magazine ELLE est heureux de participer à ce concours de court métrages contre le harcèlement sexuel au travail, via la présence de sa CEO Constance Benqué comme membre du jury.
      article.row
        p.head
          img(src="img/marieannebernard.jpg")
        .text
          p.important Marie-Anne Bernard
          p Directrice de la responsabilité sociale et environnementale de France Télévisions
          .dash —
          p Lutter contre toutes les violences faites aux femmes et particulièrement contre le harcèlement au travail est un engagement fort de France Télévisions qui l'exprime dans la mobilisation de ses antennes.
          p Etre aux côtés du Défenseur des droits pour accompagner cette campagne nécessaire de sensibilisation est donc une évidence mais aussi un honneur.
    //- .content.col2
    //-   article
    //-     .text
    //-       p.important Nathalie Bajos
    //-       p Directrice du département Promotion de l'égalité et de l'accès aux droits du Défenseur des droits
    //-       .dash —
    //-   article
    //-     .text
    //-       p.important Bénédicte Brissart
    //-       p Conseillère Presse et communication du Défenseur des droits
    //-       .dash —