section#jury.banner.blue
  .flow
    h2 Membres du jury
    .dash.white —
    // p.subtitle Ullamco proident fugiat proident sint nostrud sint ullamco deserunt elit pariatur laborum culpa irure. Irure dolore ea elit irure ipsum amet. Ea reprehenderit ipsum culpa aliquip cupidatat et quis ad laboris labore eiusmod. Qui excepteur ullamco Lorem elit ipsum cillum labore consectetur proident tempor consequat cillum dolor. Officia commodo enim duis consectetur culpa elit sint cillum adipisicing nostrud fugiat ut. Ea cupidatat ex reprehenderit nisi consectetur ex anim ut eu sit est officia in velit. Elit Lorem enim officia ad ad ipsum reprehenderit.

    .content
      .col3
        p.head
          img(src="img/andrearawlins.jpg")
        p.important Andrea Rawlins-Gaston
        .dash.white —
        p Réalisatrice de documentaires / Agence CAPA
      .col3
        p.head
          img(src="img/constancebenque.jpg")
        p.important Constance Benque
        .dash.white —
        p Présidente-directrice générale de Elle France et international
      .col3
        p.head
          img(src="img/marieannebernard.jpg")
        p.important Marie-Anne Bernard
        .dash.white —
        p Directrice de la responsabilité sociale et environnementale de France Télévisions
      .col3
        p.head
          // img(src="img/nathaliebajos.jpg")
        p.important Nathalie Bajos
        .dash.white —
        p Directrice du département Promotion de l'égalité et de l'accès aux droits du Défenseur des droits
      .col3
        p.head
          // img(src="img/benedictebrissart.jpg")
        p.important Bénédicte Brissart
        .dash.white —
        p Conseillère Presse et communication du Défenseur des droits