section#identify
  .flow
    h2 Identifier le harcèlement sexuel au travail
    .dash.blue —
    p.subtitle Dans la loi, il existe deux types de harcèlement sexuel :
    article#identify1
      h3
        span.number.blue 1
        span.text.blue Les propos ou comportements à connotation sexuelle non désirés et répétés
      .content
        .col4
          p.head
            img(src="img/boum.svg")
          p Propos et plaisanteries à caractère sexiste ou sexuel, remarques ou commentaires sur le physique, le comportement, la tenue vestimentaire
        .col4
          p.head
            img(src="img/hand.svg")
          p Gestes déplacés, recherche d'un contact physique, de frottements
        .col4
          p.head
            img(src="img/phone.svg")
          p Envoi de SMS/courriels ou d'images/vidéos à caractère érotique ou sexuel
        .col4
          p.head
            img(src="img/frame.svg")
          p Affichage d'images à caractère érotique ou sexuel (calendrier, écrans de veille des ordinateurs, etc.)
    article#identify2
      h3
        span.number.blue 2 
        span.text.blue Une pression grave dans le but, réel ou apparent, d'obtenir un acte de nature sexuelle
      .content
        .col2.img
          img(src="img/cycle.svg")
        .col2.text
          p Sollicitation d'acte sexuel en contrepartie d'une embauche, d'une promotion, d'une prime etc.
          p.important L'auteur de harcèlement peut-être un·e upérieur·e hiérarchique, un·e collègue, un·e client·e ou un·e usager·e du service public.

//- section#oneoutof5.banner.blue
//-   .flow
//-     .img
//-       img(src="img/respect.png", alt="1 femme sur 5, faites respecter vos droits")
//-     .text
//-       p.important La loi protège toutes les personnes qui ont signalé des faits de harcèlement, victimes comme témoins.
//-       p Tout refus de promotion, mise au placard, licenciement pris par votre employeur à la suite d'un signalement, d'une plainte ou d'une action en justice constitue une discrimination.

section#react
  .flow
    h2 Comment réagir ?
    .dash.red —
    .row
      .img
        img(src="img/iStock-638683106.jpg")
      article.text
        h3
          span.number.red 1
          span.text.red Rédiger un compte-rendu chronologique et détaillé des faits
    .row.reverse
      .img
        img(src="img/iStock-607504514.jpg")
      article.text
        h3
          span.number.red 2
          span.text.red Recueillir des éléments de preuve
        ul
          li Des lettres, mails, sms échangés avec l'auteur des faits et/ou avec votre employeur
          li Des témoignages
          li Des certificats médicaux, etc.
    .row
      .img
        img(src="img/iStock-597273176.jpg")
      article.text
        h3
          span.number.red 3
          span.text.red Dénoncer les agissements
        ul
          li Alerter par écrit votre employeur qui a l'obligation d'engager une enquête
          li Saisir le Défenseur des droits
          li Porter plainte contre l'auteur et/ou engager une action devant le conseil de prud'hommes ou le tribunal administratif contre votre employeur

section#important.banner.red
  .flow
    .img
      img(src="img/important.png", alt="important")
    .text
      p.important Si vous engagez une action devant le conseil de prud'hommes ou le tribunal administratif, l'établissement de la preuve est facilité ! 
      p La victime n'a pas à prouver le harcèlement sexuel. Elle doit présenter des éléments laissant présumer l'existence du harcèlement sexuel.

section#help
  .flow
    h2 Qui peut vous aider ?
    .dash.blue —
    ul
      li 
        img(src="img/dot.png")
        | Votre médecin traitant et/ou le médecin du travail/de prévention
      li 
        img(src="img/dot.png")
        | Les délégué·e·s du personnel ou représentant·e·s syndicaux
      li 
        img(src="img/dot.png")
        | L'inspection du travail
      li.important 
        img(src="img/dot.png")
        | Le Défenseur des droits
      li 
        img(src="img/dot.png")
        | Les associations de défense des victimes
      li 
        img(src="img/dot.png")
        | Un·e avocat·e

section#victim
  .flow
    h2 Victime de harcèlement sexuel ?
    .dash.red —
    p.subtitle Saisissez le Défenseur des droits, il peut enquêter :
    ul
      li 
        img(src="img/interrogation.svg")
        | Demande d'explications et d'informations
      li 
        img(src="img/document.svg")
        | Demande de documents
      li 
        img(src="img/chatbubble.svg")
        | Audition
      li 
        img(src="img/buildings.svg")
        | Vérification sur place
    .dash.red —
    p.subtitle Si le harcèlement sexuel est reconnu, le Défenseur des droits peut :
    ul
      li 
        img(src="img/pen.svg")
        | Faire des recommandations individuelles ou générales
      li 
        img(src="img/whistle.svg")
        | Demander des poursuites disciplinaires
      li 
        img(src="img/handshake.svg")
        | Proposer une transaction financière
      li 
        img(src="img/scale.svg")
        | Présenter ses observations devant les juges