section#legalpoints
  .flow
    h2 Points juridiques
    .dash.blue —
    article.row
      .colimg
        img(src="img/document.svg")
      .coltext
        h3 Le harcèlement sexuel est une discrimination en raison du sexe
        p Selon la Directive 2006/54/CE du 5 juillet 2006 relative à la mise en œuvre du principe de l'égalité des chances et de l'égalité de traitement entre les femmes et les hommes, en son considérant 6 : « Le harcèlement et le harcèlement sexuel sont contraires au principe de l'égalité de traitement entre hommes et femmes et constituent une discrimination fondée sur le sexe aux fins de la présente directive. Ces formes de discrimination se manifestent non seulement sur le lieu de travail, mais également à l'occasion de l'accès à l'emploi, à la formation et à la promotion professionnelle. Il convient donc que ces formes de discrimination soient interdites et fassent l'objet de sanctions effectives, proportionnées et dissuasives ».
        p La loi du 27 mai 2008 reprend ce principe selon lequel « tout agissement à connotation sexuelle subi par une personne ayant pour objet ou pour effet de porter atteinte à sa dignité ou de créer un environnement hostile, dégradant, humiliant ou offensant » constitue une discrimination.
        p C'est en vertu de sa compétence en matière de lutte contre les discriminations, issue de l'article 4 de la loi n°2011-333 du 29 mars 2011, que le Défenseur des droits est amené à traiter des dossiers de harcèlement sexuel.
    article.row.reverse
      .colimg
        img(src="img/document.svg")
      .coltext
        h3 Reconnaissance du harcèlement d'ambiance
        p Depuis la loi n°2015-994 du 17 août 2015, l'article L. 1142-2-1 du Code du travail : « Nul ne doit subir d'agissement sexiste, déﬁni comme tout agissement lié au sexe d'une personne, ayant pour objet ou pour effet de porter atteinte à sa dignité ou de créer un environnement intimidant, hostile, dégradant, humiliant ou offensant ».
        p Par ailleurs, le harcèlement sexuel, tel qu'il est défini dans la loi du 6 août 2012, prévoit qu'il est constitué par « le fait d'imposer à une personne, de façon répétée, des propos ou comportements à connotation sexuelle qui soit portent atteinte à sa dignité en raison de leur caractère dégradant ou humiliant, soit créent à son encontre une situation intimidante, hostile ou offensante. » 
        p Cette définition a ainsi élargi le spectre du harcèlement sexuel et sexiste composé aussi bien par des gestes, des propos ou encore des écrits. Un arrêt récent de la cour d'appel d'Orléans rendu en février 2017 a d'ailleurs reconnu qu'une salariée, sans être directement visée par les agissements de harcèlement sexuel (photographies pornographiques, propos dégradants sur les femmes), subissait au quotidien un environnement de travail particulièrement hostile rendant ses conditions de travail insupportables.
        p La cour a ainsi considéré qu'elle avait été victime d'un harcèlement sexuel d'ambiance, notion novatrice et consacrant l'élargissement de la notion telle qu'issue de la loi du 6 août 2012.
    article.row
      .colimg
        img(src="img/document.svg")
      .coltext
        h3 Protection contre les mesures de rétorsion
        p L'article 3 de la loi du 27 mai 2008 précise qu' « Aucune personne ayant témoigné de bonne foi d'un agissement discriminatoire ou l'ayant relaté ne peut être traitée défavorablement de ce fait. ».
        p L'article L.1153-2 du code du travail tel qu'issu de la loi n°2012-954 du 6 août 2012 prévoit, qu' « Aucun salarié (…) ne peut être sanctionné, licencié ou faire l'objet d'une mesure discriminatoire, directe ou indirecte, notamment en matière de rémunération, de formation, de reclassement, d'affectation, de qualification, de classification, de promotion professionnelle, de mutation ou de renouvellement de contrat pour avoir subi ou refusé de subir des faits de harcèlement sexuel tels que définis à l'article L.1153-1, y compris, dans le cas mentionné au 1° du même article, si les propos ou comportements n'ont pas été répétés ». 
        p De même, l'article L.1153-3 dispose : « Aucun salarié (…) ne peut être sanctionné, licencié ou faire l'objet d'une mesure discriminatoire pour avoir témoigné de faits de harcèlement sexuel ou pour les avoir relatés ».
        p Celle ou celui qui subit ou dénonce des faits de harcèlement sexuel est donc protégé contre toute mesure de rétorsion.
    article.row.reverse
      .colimg
        img(src="img/document.svg")
      .coltext
        h3 Les mesures de protection des fonctionnaires ou agents publics victimes ou témoins de harcèlement sexuel
        p Comme les salariés du secteur privé, les fonctionnaires et agents publics sont protégés contre les mesures de rétorsion. Ainsi toute décision défavorable en lien avec le fait d'avoir dénoncé des faits de harcèlement sexuel ou moral est prohibée selon l'article 6 ter de la loi n°83-634 du 13 juillet 1983 portant droits et obligations des fonctionnaires.
        p Cet article précise : « Aucune mesure concernant notamment le recrutement, la titularisation, la rémunération, la formation, l'évaluation, la notation, la discipline, la promotion, l'affectation et la mutation ne peut être prise à l'égard d'un fonctionnaire :1° Parce qu'il a subi ou refusé de subir les faits de harcèlement sexuel mentionnés aux trois premiers alinéas, y compris, dans le cas mentionné au a, si les propos ou comportements n'ont pas été répétés ; 2° Parce qu'il a formulé un recours auprès d'un supérieur hiérarchique ou engagé une action en justice visant à faire cesser ces faits ; 3° Ou bien parce qu'il a témoigné de tels faits ou qu'il les a relatés ».
        p Par ailleurs, il faut rappeler que les personnes qui saisissent le Défenseur des droits ne peuvent faire l'objet, pour ce motif, de mesures de rétorsion ou de représailles (article 20 de la loi organique n°2011-333 du 29 mars 2011).