- var anchors = [{name:"Identifier",link:"identify"},{name:"Réagir",link:"react"},{name:"Qui peut vous aider ?",link:"help"},{name:"Contacts",link:"CTA-container"},{name:"Vidéo de la campagne",link:"shortvideo"},{name:"Histoires vécues",link:"testimony"},{name:"Points juridiques",link:"legalpoints"},{name:"Pour aller plus loin",link:"more"}];
#menu.closed
  img(src="img/signature_white.svg", alt="Défenseur des droits")#signature
  button.burger.close(title="Fermer le menu")
    include ../../img/burger.svg
  nav
    ul
      each anchor in anchors
        li
          a(href="#"+anchor.link)= anchor.name