- var anchors = [{name:"Identifier",link:"identify"},{name:"Réagir",link:"react"},{name:"Qui peut vous aider ?",link:"help"},{name:"Contacts",link:"CTA-container"},{name:"Points du droit",link:"legalpoints"},{name:"Histoire vécues",link:"testimony"},{name:"Concours courts métrages",link:"videos"},{name:"Pour aller plus loin",link:"opinion"}];
#menu.closed
  img(src="img/signature_white.svg", alt="Défenseur des droits")#signature
  button.burger.close(title="Fermer le menu")
    include ../../img/burger.svg
  nav
    ul
      each anchor in anchors
        li
          a(href="#"+anchor.link)= anchor.name