meta(property="og:url", content="https://information.defenseurdesdroits/unefemmesurcinq")
meta(property="og:type", content="website")
meta(property="og:locale", content="fr_FR")
meta(property="og:title", content="Une femme sur cinq | Défenseur des droits")
meta(property="og:description", content="Prévenir, alerter et agir face au harcèlement sexuel au travail.")
meta(property="og:image", content="https://information.defenseurdesdroits.fr/unefemmesurcinq/img/social.jpg")
meta(property="twitter:card", content="summary_large_image")
meta(property="twitter:site", content="Defenseurdroits")