meta(property="og:url", content="https://information.defenseurdesdroits/unefemmesurcinq")
meta(property="og:type", content="website")
meta(property="og:locale", content="fr_FR")
meta(property="og:title", content="Une femme sur cinq | Défenseur des droits")
meta(property="og:description", content="Prévenir - Alerter - Réagir")
meta(property="og:image", content="https://information.defenseurdesdroits/unefemmesurcinq/img/social.png")
meta(property="twitter:card", content="summary_large_image")
meta(property="twitter:site", content="Defenseurdroits")