section#opinion.banner
  .flow
    .content
      .col2.img
        img(src="img/logo_blue.svg")
      .col2.text
        p.important Avis 18-03 du 25 janvier 2018 relatif au harcèlement sexuel
        p Auditionné le 25 janvier 2018 par la Délégation aux droits des femmes et à l'égalité des chances entre les hommes et les femmes du Sénat sur le harcèlement sexuel, le Défenseur des droits émet l’avis ci-joint.
        p
          a(href="https://juridique.defenseurdesdroits.fr/index.php?lvl=notice_display&id=23942", target="_blank") Lire l'avis