section#testimony
  .flow
    h2
      img(src="img/histoiresvecues.png", alt="Histoires vécues")
    .dash.blue —
    // p.subtitle Qui non ullamco voluptate laboris nulla.
    .row
      .img
        img(src="img/emilie.jpg")
      article.text
        h3 Émilie, victime de harcèlement moral et sexuel au travail
        .dash.blue —
        p Emilie, coordinatrice d'éducation, a été victime d'attouchements à caractère sexuel de la part de ses collègues. Elle en fait part à sa hiérarchie, celle-ci ne prend aucune mesure. Suite à cette dénonciation, ces agissements ont cessé et se sont transformés en harcèlement moral. Emilie est arrêtée pour épuisement professionnel pendant plusieurs mois et son arrêt de travail est reconnu en accident du travail par la caisse primaire d'assurance maladie (CPAM).
        p
          a(href="https://www.defenseurdesdroits.fr/fr/histoires-vecues/2017/10/emilie", target="_blank") Lire toute l'histoire vécue
    .row.reverse
      .img
        img(src="img/clemence.jpg")
      article.text
        h3 Clémence, victime de harcèlement sexuel au travail
        .dash.blue —
        p Le Défenseur des droits a été saisi par l'Association Européenne de violences faites aux femmes au travail, d'une réclamation relative à des faits de harcèlement sexuel au sein de la rédaction d'un journal.
        p
          a(href="https://www.defenseurdesdroits.fr/fr/histoires-vecues/2017/11/clemence", target="_blank") Lire toute l'histoire vécue
    .row
      .img
        img(src="img/camille-nora-marie-helene-megane.jpg")
      article.text
        h3 Camille, Nora, Marie-Hélène et Mégane, victimes de harcèlement sexuel, moral et discrimination au travail
        .dash.blue —
        p Camille, Nora, Marie-Hélène et Mégane, agents d'entretien d'une société de nettoyage, ont été victimes de harcèlement sexuel de la part de leurs superviseurs et collègues. Elles décident alors de dénoncer ces faits à la direction de la société et subissent, à compter de cette date, sanctions et représailles.
        p
          a(href="https://www.defenseurdesdroits.fr/fr/histoires-vecues/2018/02/camille-nora-marie-helene-et-megane", target="_blank") Lire toute l'histoire vécue