section#videos
  .flow
    h2 Couts-métrages
    .dash.blue —
    p.subtitle L'enquête publiée par le Défenseur des droits en 2014 révèle qu'une femme sur cinq a fait l'objet de harcèlement sexuel au travail mais que rares sont les femmes qui osent en parler et plus encore, engager une action pour faire valoir leurs droits. Dans ce contexte, le Défenseur des droits lance une campagne d'information qui vise à rappeler que le harcèlement sexuel, encore trop souvent banalisé, est interdit par la loi et inviter les personnes concernées à faire valoir leurs droits.
    .content
      .col3
        p.head
          iframe(src="https://www.youtube-nocookie.com/embed/PVXsa9GBX_Q?rel=0&amp;showinfo=0", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
        .dash.blue —
        p.important Je tu il nous vous elles
        p Crédits :
          br
          | Réalisation : Sophie Baruch, Agathe Fadier, Béatrice Fainzang
          br
          | Montage et étalonnage : Alexis Noël
          br
          | Musique : Bob Bradley et Thomas Balmforth « Primary Colours 9 », Audio Network Limite
      .col3
        p.head
          iframe(src="https://www.youtube-nocookie.com/embed/h7Oj7JPa0-0?rel=0&amp;showinfo=0", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
        .dash.blue —
        p.important La voix du silence
        p Crédits :
          br
          | Réalisation, écriture, montage: Laetitia Launay.
          br
          | Scripte: Manöe Paris
          br
          | Opérateur image: Marc Dimitrov
          br
          | Opérateur son: Quentin Tate
          br
          | Machiniste/Electricien: Laurent Paris
          br
          | Remerciements à Via Grand Paris de nous avoir permis de tourner dans leurs locaux.

      .col3
        p.head
          iframe(src="https://www.youtube-nocookie.com/embed/LMXh2kjRzwY?rel=0&amp;showinfo=0", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
        .dash.blue —
        p.important Au boulot
        p Crédits :
          br
          | Réalisatrice : Marie-Line Halliday
          br
          | Scénariste : Quitterie Daudemard-Grégnac
          br
          | Assistantes mise en scène : Fiona Ferrando et Salomé Starcelli
          br
          | Chefs opérateurs : Pablo Fontana et Lucas Brincin
          br
          | Chefs électriciens : Adrien Petrolati et Valentin Juhel
          br
          | Electricien : Hugo Brousse
          br
          | Comédien·ne·s :
          br
          | Mathieu Chauveau
          br
          | Virgilia Giambruno
          br
          | Mathias Kellermann