section#shortvideo
  .flow
    h2 La vidéo de la campagne
    .dash.blue —
    iframe(src="https://www.youtube-nocookie.com/embed/L_ZLdc7eXZc?rel=0&amp;showinfo=0", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)

section#videos
  .flow
    h2 Lauréats du concours de courts métrages
    .dash.blue —
    p.subtitle Le Défenseur des droits a lancé l’été dernier un concours de courts métrages sur le thème du harcèlement sexuel au travail. Ouvert aux amateur·trices, étudiant·es, professionnel·les, le Défenseur des droits souhaite rappeler par ce concours que le harcèlement sexuel, encore trop souvent banalisé, est interdit par la loi. En voici les lauréats.
    .content
      .col3
        p.head
          iframe(src="https://www.youtube-nocookie.com/embed/PVXsa9GBX_Q?rel=0&amp;showinfo=0", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
        .dash.blue —
        p.important 1er prix
          br
          | Je tu il nous vous elles
        p Crédits :
          br
          | Réalisation : Sophie Baruch, Agathe Fadier, Béatrice Fainzang
          br
          | Montage et étalonnage : Alexis Noël
          br
          | Musique : Bob Bradley et Thomas Balmforth « Primary Colours 9 », Audio Network Limite
      .col3
        p.head
          iframe(src="https://www.youtube-nocookie.com/embed/h7Oj7JPa0-0?rel=0&amp;showinfo=0", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
        .dash.blue —
        p.important 2eme prix
          br
          | La voix du silence
        p Crédits :
          br
          | Réalisation, écriture, montage: Laetitia Launay.
          br
          | Scripte: Manöe Paris
          br
          | Opérateur image: Marc Dimitrov
          br
          | Opérateur son: Quentin Tate
          br
          | Machiniste/Electricien: Laurent Paris
          br
          | Remerciements à Via Grand Paris de nous avoir permis de tourner dans leurs locaux.

      .col3
        p.head
          iframe(src="https://www.youtube-nocookie.com/embed/LMXh2kjRzwY?rel=0&amp;showinfo=0", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
        .dash.blue —
        p.important Prix du jury
          br
          | Au boulot
        p Crédits :
          br
          | Réalisatrice : Marie-Line Halliday
          br
          | Scénariste : Quitterie Daudemard-Grégnac
          br
          | Assistantes mise en scène : Fiona Ferrando et Salomé Starcelli
          br
          | Chefs opérateurs : Pablo Fontana et Lucas Brincin
          br
          | Chefs électriciens : Adrien Petrolati et Valentin Juhel
          br
          | Electricien : Hugo Brousse
          br
          | Comédien·ne·s :
          br
          | Mathieu Chauveau
          br
          | Virgilia Giambruno
          br
          | Mathias Kellermann